<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
        <groups>
            <run>
                <exclude name="Regression"/>
            </run>

        </groups>
        <packages>
            <package name="org.example"></package>
        </packages>
    </test>
</suite>